@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, html, .modal-div {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

body, input, span, button{
    font-family: 'Press Start 2P', cursive;
}

li{
    margin: 5px 0;
    line-height: 25px;
}

.content{
    height: 100%;
    width: 100%;
}

.modal-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url("./images/wallpaper.jpg");
    background-size: cover;
}

.intro-div, .close-button-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-div {
    padding-top: 100px;
    justify-content: start;
}

.intro{
    color: white;
    font-size: xx-large;
    z-index: 10;
}

.close-button-div{
    padding-bottom: 75px;
    justify-content: end;
}
.close-button-modal {
    width: 200px;
    height: 70px;
    color: black;
    background-color: #aad8e8;
    border: 3px solid #7098b1;
    border-radius: 50px;
}

.close-button-modal:hover{
    color: white;
    background-color: #071f3f;


}

.container {
    height: 100%;
    background-color: #ddd5f3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rules {
    width: 30%;
    height: 100%;
    padding-right: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rules-section {
    margin-bottom: 25px;
}

.music-section {
    display: flex;
    flex-direction: column;
}

.pokedex {
    width: 500px;
    height: 800px;
    background-color: #d2222b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 10px solid black;
    border-radius: 5px;
}

.pokedex-header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 10px solid black;
}

.pk-header-section1 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lens{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background-color: #01afef;
    border-radius: 50px;
    border: 5px solid white;
    outline: black solid 2px;
}

.pk-header-section2{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.small-lights {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;

}

.small-red-light{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ed1c24;
}

.medium-red-light{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    outline: black solid 2px;
}

.medium-red-light{
    background-color: #ed1c24;
}

.red-light, .yellow-light, .green-light {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    outline: black solid 2px;
}

.red-light {
    background-color: #ed1c24;
}

.yellow-light {
    background-color: #ffff00;
}

.green-light {
    background-color: #00a651;
}

.screen-border{
    width: 90%;
    height: 450px;
    margin-top: 50px;
    background-color: #f1f2f2;
    border-radius: 15px 15px 15px 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: black solid 2px;
}

.screen-upper-section{
    width: 100%;
    height: 20px;
    margin-top: 1px;
    display: flex;
    gap: 15px;
}

.left-div, .right-div{
    width: 100%;
    display: flex;
    align-items: center;
}

.left-div {
    justify-content: end;
}

.right-div {
    justify-content: start;
}

.screen{
    width: 400px;
    height: 350px;
    background-color: #59595a;
    border: 5px solid #bcbdbc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-lower-section{
    width: 100%;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.left-lower-div, .right-lower-div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.left-lower-div {
    justify-content: start;
    margin-left: 50px;
}

.right-lower-div{
    justify-content: end;
}


.column-lines{
    width: 75px;
    height: 100%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.line{
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 2px;
}

.pokedex-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokedex-footer-section1{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: start;
    align-items: center;
}

.footer-s1-div-fit{
    width: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer-s1-div{
    width: 100%;
    display: flex;
    margin-left: 20px;
    justify-content: start;
    align-items: center;
    gap: 20px
}

.circular-black-button{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    background-color: #59595a;
    border-radius: 50px;
    outline: black solid 2px;
}

.cylinder-red-button, .cylinder-blue-button {
    width: 75px;
    height: 12.5px;
    border: 2px solid black;
    border-radius: 10px;
}

.cylinder-red-button {
    background-color: #ee1c24;
}

.cylinder-blue-button {
    background-color: #01b5a8;
}


.pokedex-footer-section2 {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.guess{
    width: 250px;
    height: 20px;
    padding: 10px;
    background-color: white;
    opacity: 0.9;
    border-radius: 100px;
    text-align: center;
}

.skip{
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
}

.skip:hover{
    color: #ddd5f3;
}

.scoreboard {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.points-counter, .streak-counter, .hit-counter {
    width: 200px;
    height: 100px;
    background-color: #002366;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.points-counter-title, .points-display, .streak-title, .streak-display, .hit-title, .hit-display  {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.points-display, .streak-display, .hit-display {
    margin-bottom: 15px;
}

.points-counter-title, .streak-title, .hit-title{
    align-items: end;
}

.points, .streak, .hit {
    color: white;
}





